@media screen and (min-width:0) {
  .ass{
    background: url('..//..//img/asss.png') no-repeat left center;
      font-family: stringline;
      padding: 1.5rem;
      
   }
    
  }

@media screen and (min-width:768px) {
  .ass{
   
    background: url('..//..//img/ass.png') no-repeat left center;
    padding: 3rem;
  }
}