.skills__lista{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row; 
    padding:3rem;
    flex-wrap: wrap;

}
.skills__lista li{
    display: flex;
    box-sizing: border-box;
    min-width: 160px;
   background:var(--branco);
   border-radius: 5px;
   box-shadow: 0px 1px 5px 0;
   padding: 3rem 2rem 2rem 1rem ;
   
}
@media screen and (min-width:0) {
    .skills__lista li{
        margin-bottom: 4%;
        width:20%;
    }
}
@media screen and (min-width:768px) {
    .skills__lista li{
        margin-bottom: 4%;
        width:25%;
    }
}
