:root{
    --branco : #ffff;
    --brancoleve : #f5f5f5;
    --azul-claro : #EAF2FD;
    --azul-escuro :  #2A7AE4;
    --preto-leve: #464646;
    --cinza:  #e7e6e6;
    --fonteRelewey:'Raleway', sans-serif;

}

@font-face {
    font-family: stringline;
<<<<<<< HEAD
    src: url(/src/stringline/Stringline.ttf)
=======
    src: url('/src/stringline/Stringline.ttf');
>>>>>>> parent of ba394cb (css)
 }
  .ass{
    font-family: stringline;
  }
body{
    font-family: var(--fonteRelewey);
    background-color: var(--brancoleve);
    
}

@media screen and (min-width:0) {
    #container{
     font-size: 1em;
    } 
}
@media screen and (min-width:768px) {
    #container{
     font-size: 1.2em;
    } 
}
.sobre, .academico, .contato{
    background-color: var(--azul-claro);
    
    
} 
ul button a{
    color:var(--azul-escuro);
}



